.hero {
    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-gap: 5rem;
    place-items: center;
    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;

        span {
            color: var(--primary-color);
        }
    }

    button {
        cursor: pointer;
        border: 2px solid var(--primary-color);
        outline: none;
        background: transparent;
        padding: 0.5rem 1.5rem;
        margin-top: 1.5rem;
        border-radius: 0.3rem;

        &:hover {
            transition: all 0.3s ease;
            background: var(--primary-color);
            color: white;
        }
    }

    img {
        width: 100%;
    }
}
